#main-page {
  width: 1000px;
  height: 900px;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 900px;
}
.button {
  width: 400px;
  margin-left: 290px;
  margin-bottom: 20px;
}

#title {
  width: 800px;
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 85px;
}

#toucan {
  width: 280px;

  margin-left: 350px;

  margin-bottom: -100px;
}

#canvas {
  display: none;
}

.hidden {
  display: none;
}
